.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home-text {
  font-size: 100px;
  font-family: Arial;
  font-weight: 100;
  position: absolute;
  top: 100px;
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
}

.home-text01,
.home-text02,
.home-text07,
.home-text08,
.home-text09 {
  font-size: 30px;
  position: absolute;
}

.home-text01 {
  top: 266px;
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
}

.home-text02 {
  top: 353px;
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
}

.home-image,
.home-image1,
.home-image2,
.home-image3,
.home-image4 {
  width: 69px;
  height: 72px;
  position: absolute;
  object-fit: cover;
}

.home-image,
.home-image1,
.home-image2,
.home-image3 {
  top: 246px;
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
}

.home-image4 {
  top: 454px;
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
}

.home-text09 {
  top: 473px;
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
}
