.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  top: 149px;
  left: 117px;
  position: absolute;
  font-size: 30px;
}
.home-text01 {
  top: 236px;
  left: 123px;
  position: absolute;
  font-size: 30px;
}
.home-image {
  top: 129px;
  left: 27px;
  width: 69px;
  height: 72px;
  position: absolute;
  object-fit: cover;
}
.home-image1 {
  top: 235px;
  left: 29px;
  width: 69px;
  height: 72px;
  position: absolute;
  object-fit: cover;
}
.home-text06 {
  top: 149px;
  left: 117px;
  position: absolute;
  font-size: 30px;
}
.home-image2 {
  top: 129px;
  left: 27px;
  width: 69px;
  height: 72px;
  position: absolute;
  object-fit: cover;
}
.home-text07 {
  top: 149px;
  left: 117px;
  position: absolute;
  font-size: 30px;
}
.home-image3 {
  top: 129px;
  left: 27px;
  width: 69px;
  height: 72px;
  position: absolute;
  object-fit: cover;
}
.home-image4 {
  top: 337px;
  left: 30px;
  width: 69px;
  height: 72px;
  position: absolute;
  object-fit: cover;
}
.home-text08 {
  top: 356px;
  left: 126px;
  position: absolute;
  font-size: 30px;
}
.home-text09 {
  top: 3px;
  left: 14px;
  position: absolute;
  font-size: 100px;
  font-family: "Arial";
  font-weight: 100;
}
